img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1.resume {
  font-size: 4vw;
  text-align: center;
}

Body {
  background-image: url("../img/background2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}
